{{define "Index" }}
{{ template "Header" }}
{{ template "Menu" }}

	<section>
		<center>
			<h1>Registro De Usuários</h1>
			<h2>Go Lang é muito Foda S2</h2>
		</center>
		{{ range .}}
		<div>
			<ul>
				<li>{{ .Id }}</li>
				<li>{{ .Nome }}</li>
				<li>{{ .Email}}</li>
				<li>
		<a href="update?id={{ .Id }}">Edit</a>
				</li>
				<li>
		<form method="post" action="delete" >
		<input type="hidden" name="id" value="{{ .Id }}" />
		<button type="submit">Deletar</button>
		</form>
				</li>
			</ul>
		</div>
		{{ end }}
	</section>

{{ template "Footer" }}
{{ end }}
