{{ define "Update" }}
{{ template "Header" }}
{{ template "Menu" }}

<form method="post" action="update" id="form_Up" >
	<input type="hidden" name="uId" value="{{ .Id }}" />
	<label for="nome" >Nome</label>
	<input type="text" name="nome"
		value="{{ .Nome }}" id="nome" />

	<label for="email">Email</label>
	<input type="text" name="email"
		value="{{ .Email }}" id="email" />
	<input type="submit" value="Salvar">
</form>

{{ template "Footer" }}
{{ end }}
